{% extends "mysite/header.html" %}

{% block content %}
<div id="content">
    <div class="row justify-content-md-center">
        <div class="col col-lg-6">
            <h2><b>Music</b></h2>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col col-lg-6">
            {% load custom_tags %}
            {% for post in object_list %}
            {% ifequal forloop.counter0|modulo:3 0 %}
            <div class="row">
            {% endifequal %}
                <div class="col col-lg-2">
                    <div class="album_elem">
                        <img src="{{post.coverArt}}">
                        <h5>
                            <a href="/music/{{post.id}}">{{post.title}}</a>
                        </h5>
                    </div>
                </div>
            {% if forloop.last or forloop.counter0|modulo:3 == 2 %}
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
