body {
    font-family: Courier;
    transition: 0.4s;
}

a, a:link, a:visited, a:hover, a:active {
   color: black;
   text-decoration: none;
   transition: 0.4s;
}

#header-row {
    position:fixed;
    background-color: white;
    z-index:100;
    border-bottom: 2px solid black;
    transition: 0.4s;
}

/* #header-menu {
    position:fixed;
} */

#welcome {
    padding-top: 35vh;
    /* background-color: blue; */
}

#content {
    padding-top: 150px;
    transition: 0.4s;
}

.row {
    margin-left: 0;
    margin-right: 0;
    width:100%;
}

h1 {
    display: inline-block;
}

.front-title {
    font-size: 40px;
}
.front-menu-option {
    font-size: 30px;
}

@media only screen and (max-width: 768px) {
    .front-title {
        font-size: 25px;
    }
    #welcome-title {
        font-weight: bold;
    }
    .front-menu-option {
        font-size: 25px;
    }
}

.fade-in {
    display:none;
}

.btns:hover {
    font-weight: bold;
}

#name-btn {
    cursor: pointer;
}

#welcome-title-cursor {
    animation: blink-animation 1s steps(2, start) infinite;
    -webkit-animation: blink-animation 1s steps(2, start) infinite;
}

@keyframes blinker {
    to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.album-art, .recipe-pic {
    width: 100%;
}

.album-art:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.album_elem {
    text-align: center;
}

#popout-btn-container {
    padding: 45vh 0 0 0;
    position: fixed;
    z-index: 2;
    top: 0px;
    left: 0px;
}
#arrow {
    font-size:100px;
    padding-left: 5px;
}

.menu {
  width: 35px;
  height: 5px;
  background-color: black;
  transition: 0.4s;
}

.menu-container {
  display: inline-block;
  cursor: pointer;
}

.bar1{
    margin: 0 0 6px 0;
}
.bar2, .bar3 {
    margin: 6px 0;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}


.sidebar {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 25px;
  background-color: white;
  overflow-x: hidden;
  transition: 0.4s;
  overflow: hidden;
  /* padding-top: 60px; */
  /* border-right: 2px solid black; */
  font-size: 36px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  transition: 0.3s;
}

.menu-title {
    font-weight: bold;
    cursor: default;
}
.menu-hover, .post-hover {
    display: none;
}


/* .menu-option:hover {
    font-weight: bold;
} */
.menu-option:hover .menu-hover, .post-option:hover .post-hover{
    display: inline;
}

.post-option a {
    font-size: 20px;
}
.menu-option a:hover {
    font-weight: bold;
    transition: 0s !important;
}

.menu-option-disabled {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    cursor: default;
}

.no-transition {
    transition: none !important;
}

#mobile-brk {
    display: none;
}
#desktop-brk {
    display: block;
}
@media only screen and (max-width: 992px) {
    #mobile-brk {
        display: block;
    }
    #desktop-brk {
        display: none;
    }
}

.social {
    transition: 0.4s;
}

@-webkit-keyframes rainbow {
  0% {
    color: purple;
  }
  10% {
    color: red;
  }
  20% {
    color: CadetBlue;
  }
  30% {
    color: yellow;
  }
  40% {
    color: coral;
  }
  50% {
    color: green;
  }
  60% {
    color: cyan;
  }
  70% {
    color: DeepPink;
  }
  80% {
    color: DodgerBlue;
  }
  90% {
    color: orange;
  }
  100% {
    color: purple;
  }
}

.social:hover{
    /* Chrome, Safari, Opera */
    -webkit-animation: rainbow 5s infinite;
    /* Internet Explorer */
    -ms-animation: rainbow 5s infinite;
    /* Standar Syntax */
    animation: rainbow 5s infinite;
}
