{% extends "mysite/header.html" %}
{% block content %}

<div class="row">
    <div class="col-sm-1">
        <h4 id="name-blank-btn">‌&nbsp</h4>
    </div>
    <div class="col-sm-8" id="name" style="margin-top: 10px;margin-right: 10px;right:0;position: absolute;">
        <h4 onclick="darkTheme()" class="fade-in" id="name-btn" style="position: absolute;right:0;">chandler manns</h4>
    </div>
</div>
<!-- <div class="row" style="padding-top: 10px;padding-left: 10px;">
    <div class="col-sm-11" id="name">
        <h4 onclick="darkTheme()" class="fade-in" id="name-btn">chandler manns</h4>
    </div>
	<div class="col-sm-1">
        <h4 id="name-blank-btn">‌&nbsp</h4>
    </div>
</div> -->
<div class="row" id="welcome">
    <div class="container text-center" id="title-container">
        <span id="blank" class="front-title">‌‌&nbsp</span><span id="welcome-title" class="front-title"></span><span id="welcome-title-cursor" class="front-title">|</span>
    </div>
</div>

<div class="row justify-content-md-center" id="select-row">
    <div class="col-md-auto justify-content-md-center">
        <div style="text-align:center">
            <a href="/food/" class="anchor front-menu-option-anchor"><span class="fade-in btns front-menu-option" id="food-btn" onmouseover="funnyTxt(this)" onmouseout="fixTxt(this)">food</span></a>
        </div>
    </div>
    <div class="col-md-auto justify-content-md-center">
        <div style="text-align:center">
            <a href="/music/" class="anchor front-menu-option-anchor"><span class="fade-in btns front-menu-option" id="music-btn" onmouseover="funnyTxt(this)" onmouseout="fixTxt(this)">listen</span></a>
        </div>
    </div>
    <!-- <div class="col-md-auto justify-content-md-center">
        <div style="text-align:center">
            <a href="/words/" class="anchor front-menu-option-anchor"><span class="fade-in btns front-menu-option" id="words-btn" onmouseover="funnyTxt(this)" onmouseout="fixTxt(this)">words</span></a>
        </div>
    </div> -->
    <div class="col-md-auto justify-content-md-center">
        <div style="text-align:center">
            <a href="/self/" class="anchor front-menu-option-anchor"><span class="fade-in btns front-menu-option" id="self-btn" onmouseover="funnyTxt(this)" onmouseout="fixTxt(this)">self</span></a>
        </div>
    </div>
</div>

{% load static %}
<script src="{% static 'js/home.js' %}"></script>
{% endblock %}
