{% extends "mysite/header.html" %}

{% block content %}
<div class="row">
    <div class="col-sm-11" id="name" style="margin-top: 10px;margin-left: 10px;">
        <h4 onclick="darkTheme()" id="name-btn">chandler manns</h4>
    </div>
</div>
<div id="content">
    <div class="row justify-content-md-center">
        <div class="col col-lg-6">
            <h2><b>words</b></h2>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col col-lg-6">
            {% for post in object_list %}
            <h5>
                <a href="/words/{{post.id}}">{{post.title}}</a>
            </h5>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
