{% extends "mysite/header.html" %}

{% block content %}
<div class="row" style="margin-top: 10px;margin-left: 10px;">
    <div class="col-sm-11" id="name">
        <h4 onclick="darkTheme()" id="name-btn">chandler manns</h4>
    </div>
</div>

<div id="content">
    <div class="row justify-content-md-center">
        <div class="col col-lg-6">
            <h2><b>{{post.title}}</b></h2>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col col-lg-6">
            <h4><i>{{post.pronunciation}}</i></h4>
            <h5>definition: {{post.definition}}</h5>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col col-lg-6">
            <p>{{post.body|safe|linebreaks}}</p>
        </div>
    </div>
</div>

{% load static %}
<script src="{% static 'js/post.js' %}"></script>
{% endblock %}
