{% extends "mysite/header.html" %}

{% block content %}
<div id="header-menu">
    <div id="header-row" class="row">
        <div class="col-2 menu-container" style="margin-top: 10px;margin-left: 10px;" onclick="hamMenuTrans(this)">
            <div class="menu bar1"></div>
            <div class="menu bar2"></div>
            <div class="menu bar3"></div>
        </div>
        <div class="col-8" id="name" style="margin-top: 10px;margin-right: 10px;right:0;position: absolute;">
            <h4 onclick="darkTheme()" id="name-btn" style="position: absolute;right:0;"><b>chandler manns</b></h4>
        </div>
    </div>
</div>

<div id="mySidebar" class="sidebar">
    <div class="menu-option">
        <a href="/" class="anchor">home</a>
    </div>
    <div class="menu-option">
        <a href="/food/" class="anchor">food</a>
    </div>
    <div class="menu-option">
        <a href="/words/" class="anchor">words</a>
    </div>
    <div class="menu-option">
        <a href="/music/" class="anchor">music</a>
    </div>
    <div class="menu-option">
        <a href="/self/" class="anchor">self</a>
    </div>
</div>

<div id="content">
    <div class="row justify-content-md-center">
        <div class="col col-lg-6">
            <h2><b>{{post.title}}</b></h2>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col col-lg-6">
            <h4><i>{{post.pronunciation}}</i></h4>
            <h5>definition: {{post.definition}}</h5>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col col-lg-6">
            <p>{{post.body|safe|linebreaks}}</p>
        </div>
    </div>
</div>

{% load static %}
<script src="{% static 'js/post.js' %}"></script>
{% endblock %}
